.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 10px;
}

.slider::-webkit-scrollbar {
    display: none;
}

/* Card styling */

.card {
    min-width: 250px;
    max-width: 250px;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 10px;

}

.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.card {
    position: relative;   /* important */
}

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: flex-end;     /* push to bottom */
    padding: 10px;
}

@media (max-width: 768px) {
    .card-img {
        height: 180px;
    }
}

@media (max-width: 480px) {
    .card-img {
        height: 150px;
    }
}


.progress-container {
    width: 100%;
    max-width: 400px;
    margin: 0;
}

.progress-text {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5px;
    color: #2f4f4f;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: linear-gradient(90deg, #2e7d32, #66bb6a);
    border-radius: 20px;
    transition: width 0.5s ease;
}